body {
  margin: 0vw auto;
  width: 100%;
  background-image: url(../img/Diwali\ Utsav\ Banner\ BG\ copy.jpg);
  background-size: 100% 100%;
  background-position: center;
}
.header {
  margin: 0vw auto;
  width: 100%;
}
.header img {
  width: 100%;
}
.columnTwo {
  margin: -8vw auto;
  width: 85%;
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  top: -7vw;
}
.participant button {
  border: 0vw;
  background: transparent;
}
.participantSelectTab img {
  width: 100%;
}
.title {
  margin: 0vw auto;
  width: 26%;
  margin-top: 7vw;
}
.title img {
  width: 100%;
}
.rewardFrame {
  margin: 0vw auto;
  width: 90%;
  background-image: url(../img/Reward\ BG\ Frame.png);
  background-size: 100% 100%;
  background-position: center;
  margin-top: -8vw;
}
.mySlide {
  margin: 0vw auto;
  width: 100%;
  padding-top: 8vw;
}
.target {
  margin: 0vw auto;
  width: 100%;
  color: white;
  font-size: 5vw;
  text-align: center;
  padding-top: 6vw;
}
.columnOne {
  margin: -2vw auto;
  width: 31%;
}
.columnOne img {
  width: 100%;
}
.slideText {
  margin: 0vw auto;
  width: 85%;
  color: white;
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  padding-bottom: 0vw;
}
.arrow {
  width: 16%;
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 64vw;
  padding-bottom: 0vw;
  position: relative;
  top: -33vw;
  left: 5vw;
}
.arrow button {
  border: 0vw;
  background: transparent;
}
.arrowImg img {
  width: 130%;
}

.columnTwoRound {
  margin: 0vw auto;
  width: 63%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 3vw;
}
.participantRound button {
  border: 0vw;
  background: transparent;
}
.participantSelectTabRound img {
  width: 100%;
}
.columnTwoSlide{
  margin: -2vw auto;
  width: 71%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.columnTwoSlide img{
  width: 100%;
}
.columnThreeSlide{
  margin: -2vw auto;
  width: 71%;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}
.columnThreeSlide img{
  width: 100%;
}
.gameType{
  margin: 2vw auto;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.gameTypeBtn{
  border: 0vw;
  background: transparent;
  padding: 0 0.8vw;
}
.gameTypeBtn img{
  width: 100%;
}
.schedule{
  margin: 4vw auto;
  width: 100%;
}
.scheduleBg{
  margin: 0vw auto;
  width: 100%;
  background-image: url(../img/Schedule\ BG.png);
  background-size: 100% 100%;
  background-position: center;
  margin-top: -10vw;
  /* height: 63vw; */
}
.gameTable{
  margin: 0vw auto;
  width: 84%;
  text-align: center;
  font-size: 2.5vw;
  color: white;
  padding-top: 14vw;
  padding-bottom: 6vw;
  border-spacing: unset;
}
.gameTable th{
  color: white;
  text-align: center;
  padding: 0vw;
}
.gameTable td{
  border-bottom: 0.3vw solid white;
  text-align: center;
  padding: 1vw;
}
.gameTable tr:nth-child(odd) {
  /* background-color: #3c76ce; */
  text-align: center;
  padding: 0vw;
}

.imgMin{
  width: 50%;
}
.imgmin2{
  width: 39%;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
  text-decoration: none;
}
a:active {
  color: white;
  text-decoration: none;
}
.guide-btn {
  position: relative;
  top: -23vw;
  /* float: right; */
  z-index: 5;
  width: 78%;
  right: -25vw;
  margin-bottom: -12vw;
}
.guide-btn img {
  width: 100%;
}
.guide-btn button {
  border: 0vw;
  background: transparent;
  width: 28%;
  float: right;
}

.modal {
  margin: 0vw auto;
  width: 100%;
  background: rgba(0, 0, 0, 1.7);
  position: fixed;
  top: 0vw;
  left: 0vw;
  z-index: 6;
  height: 100%;
}
.close {
  margin: 8vw -4vw 0vw auto;
  float: right;
}
.close button {
  border: 0vw;
  background: transparent;
}
.close img {
  width: 68%;
}
.guideTitle{
  margin: 0vw auto;
  width: 20%;
  margin-top: 13vw;
}
.guideTitle img{
  width: 100%;
}
.guide-modal {
  margin: -11vw auto;
  width: 97%;
  background-image: url(../img/Guide\ Frame\ BG.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 138vw;
  padding-top: 16vw;
  opacity: 1;
}
.rules {
  margin: 0vw auto;
  width: 87%;
  text-align: justify;
  color: white;
  font-size: small;
  padding-top: 8vw;
  padding-right: 7vw;
  overflow-y: scroll;
  padding-bottom: 0vw;
  height: 119vw;
  font-family: 'design';
}
.colorCode{
  margin: 0vw auto;
  width: 87%;
  position: relative;
  left: 4vw;
}
.colorCode img{
  width: 100%;
}
.rewardsTable{
  margin: 0vw auto;
  width: 100%;
  color: white;
  border-spacing: inherit;
  border: 1vw solid white;
  text-align: center;
}
.rewardsTable tr{
  border:1vw solid white;
}
.rewardsTable td,th{
  border: 0.3vw solid white;
}
